---
import Layout from '../layouts/Layout.astro';
import {productos} from '../data/productos.js';
import { Image } from 'astro:assets';
import Osito from '../assets/amigurumiOsito.png';
import Conejito from '../assets/amigurummiConejito.png';
---

<Layout titulo="Modelos">

<section class="contenedor-modelos">

  <div class="grid-modelos">

   <div class="grid-modelos">

  {productos.map((producto) => (
    <div class="tarjeta-modelo">

      <Image 
        src={producto.imagen}
        alt={producto.nombre}
        widths={[400, 800]}
        class="img-coleccion"
      />

      <h3>{producto.nombre}</h3>
      <p>{producto.descripcion}</p>
      <p>${producto.precio}</p>

      <a 
        href={`https://wa.me/52134567890?text=${encodeURIComponent(producto.mensaje)}`}
        target="_blank"
        class="btn-whatsapp"
      >
        Pedir por WhatsApp
      </a>

    </div>
  ))}

</div>


    

</section>

</Layout>


